@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center">
    <a href='@TwitchLogin.Models.TwitchClient.UrlTwitchLogin'><img src="http://ttv-api.s3.amazonaws.com/assets/connect_dark.png"></a>
</div>

