@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center">
    <a href='@TwitchLogin.Models.LoginAuthentication.urlRequest'><img src="https://d5f75szkq391e.cloudfront.net/Images/others/twitchButton.png" width="500" height="90"/></a>
</div>

