@model TwitchLogin.Models.User
@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron" style="text-align:center">
    <h2>Dashboard</h2>
    <p>Access Token: @Model.accessToken</p>
    <p>Id Token: @Model.idToken</p>
</div>


