@{
    ViewBag.Title = "Dashboard";
    // Uses the short term access code to request an access token
    TwitchLogin.Models.Client.accessTokenRequest(Request.QueryString["code"].ToString());
}

<div class="jumbotron" style="text-align:center">
    <h2>Dashboard</h2>
    <p>Access Token: @TwitchLogin.Models.Client.accessToken</p>
</div>


